[Go back to TextBuddy README](README.md)

# Test reports

## Version 0.1.0
